.com-modal {

    align-items:            flex-start;
    backdrop-filter:        blur( var(--blur) );
    -webkit-backdrop-filter:blur( var(--blur) );
    background:             rgb( 0, 0, 0, var(--pc-8-12) );
    bottom:                 0;
    display:                flex;
    max-height:             0;
    min-height:             0;
    justify-content:        center;
    left:                   0;
    overflow:               hidden;
    position:               fixed;
    right:                  0;
    transition:             all var(--duration-long) ease-in-out;
    width:                  100vw;
    z-index:                var(--z-index-modal);
}

.com-modal > .content-container {

    background:             var(--color-gray-2-12);
    border-radius:          var(--border-radius);
    color:                  var(--color-gray-10-12);
    max-width:              90vw;
    padding:                var(--app-gap);
    position:               relative;
    width:                  var(--app-width);
}
.com-modal > .content-container > .close {

    background:             transparent;
    font-size:              var(--font-size-xl);
    font-weight:            bold;
    line-height:            var(--line-height);
    padding:                var(--app-gap);
    position:               absolute;
    right:                  0;
    top:                    0;
    width:                  calc( 2 * var(--app-gap) + var(--line-height));
}
.com-modal > .content-container > .close-bottom {

    background:             var(--color-gray-4-12);
    border-radius:          var(--border-radius);
    display:                block;
    margin-top:             var(--app-gap);
    width:                  100%;
}
.com-modal > .content-container > .content > :first-child {

    margin-top:             0;
}

.com-modal.is-opened {

    max-height:             100vh;
    min-height:             100vh;
    overflow:               auto;
    padding-bottom:         var(--app-gap);
    padding-top:            var(--seq-height);
}
