.com-tap-controls-drum {

    background-color:       transparent;
    border:                 0 none transparent;
    display:                block;
    font-size:              var(--font-size-tap-buttons);
    font-weight:            normal;
    margin:                 calc( -1 * var(--app-gap));
    padding:                var(--app-gap);
    touch-action:           manipulation;
    width:                  var(--app-width);
}

.com-tap-controls-drum > .visual {

    align-items:            center;
    background:             var(--color-orange-4-12);
    border-radius:          var(--border-radius);
    color:                  var(--color-orange-10-12);
    display:                flex;
    height:                 calc( 0.5 * 1.618 * 1.618 * var(--seq-height) );
    justify-content:        center;
    padding:                1rem;
    pointer-events:         none;
    width:                  100%;
}

.com-tap-controls-drum > .visual > span > strong {

    font-weight:            900;
}

.com-tap-controls-drum:active > .visual {

    background:             var(--color-orange-10-12);
    color:                  var(--color-orange-2-12);
}

.com-tap-controls-drum:disabled > .visual,
.com-tap-controls-drum:disabled:active > .visual {

    background:             var(--color-background);
    color:                  var(--color-gray-3-12);
}
