.com-tap-controls > .count-restart {

    background:             var(--color-blue-6-12);
    border:                 0 none transparent;
    border-radius:          var(--border-radius);
    color:                  var(--color-blue-11-12);
    display:                block;
    font-size:              var(--font-size-tap-buttons);
    font-weight:            normal;
    height:                 calc( 0.5 * 1.618 * var(--seq-height) );
    margin-top:             var(--app-gap);
    padding:                1rem;
    touch-action:           manipulation;
    width:                  100%;
}
.com-tap-controls > .count-restart:active {

    background:             var(--color-blue-9-12);
    color:                  var(--color-blue-3-12);
}
.com-tap-controls > .count-restart:disabled,
.com-tap-controls > .count-restart:disabled:active {

    background:             var(--color-blue-1-12);
    color:                  var(--color-blue-4-12);
}
