.com-main-menu {

    position:               relative;
}

.com-main-menu > .toggle {

    align-items:            flex-end;
    background:             transparent;
    display:                flex;
    justify-content:        center;
    padding:                0;
    width:                  var(--step-size);
}
.com-main-menu > .toggle > .icon {

    align-items:            stretch;
    display:                flex;
    flex-direction:         column;
    height:                 calc( var(--font-size-xl) - 2px );
    justify-content:        space-between;
    padding-bottom:         1px;
    width:                  calc( var(--font-size-xl) - 2px );
}
.com-main-menu > .toggle > .icon > i {

    background:             var(--color-orange-5-12);
    border-radius:          2px;
    display:                block;
    height:                 3px;
}

.com-main-menu > .menu {

    backdrop-filter:        blur( var(--blur) );
    -webkit-backdrop-filter:blur( var(--blur) );
    background:             rgb( 96, 96, 96, var(--pc-8-12) );
    border-radius:          var(--border-radius);
    display:                flex;
    flex-direction:         column;
    margin:                 0;
    max-height:             0;
    overflow:               hidden;
    padding:                0;
    position:               absolute;
    right:                  0;
    top:                    100%;
    transform:              translateY( var(--step-gap) );
    transition:             all var(--duration-short) ease-in-out;
    width:                  calc( 1 * var(--step-gap) + 2 * var(--step-size));
}
.com-main-menu > .menu > * + * {

    border-top:             1px solid rgb( 255, 255, 255, var(--pc-4-12) );
}
.com-main-menu > .menu > button {

    background:             transparent;
    border-radius:          0;
    text-align:             left;
}
.com-main-menu > .menu > button:first-child {

    border-radius:          var(--border-radius) var(--border-radius) 0 0;
}
.com-main-menu > .menu > button:last-child {

    border-radius:          0 0 var(--border-radius) var(--border-radius);
}
.com-main-menu > .menu > button:first-child:last-child {

    border-radius:          var(--border-radius);
}

.com-main-menu.is-opened > .menu {

    max-height:             calc( 3 * var(--step-size));
    width:                  calc( 4 * var(--step-gap) + 5 * var(--step-size));
    z-index:                var(--z-index-menu);
}
