.com-parameters {

    display:                grid;
    gap:                    var(--step-gap);
    grid-template-columns:  1fr 1fr 1fr;
    justify-items:          stretch;
}

.com-parameters > .com-select > .label {

    padding:                0;
}
.com-parameters > .bars > .label {

    justify-content:        flex-start;
}
.com-parameters > .metre > .label {

    justify-content:        flex-end;
}
