.com-select {
    
    height:                 calc( var(--seq-height) / 2 );
    position:               relative;
}

.com-select > select {

    border-radius:          calc( 1px + var(--border-radius));
    box-shadow:             none;
    cursor:                 pointer;
    height:                 90%;
    margin-top:             5%;
    outline:                none;
    width:                  100%;
}

.com-select > .label {

    align-items:            center;
    background:             var(--color-background);
    border-radius:          var(--border-radius);
    color:                  var(--color-orange-5-12);
    cursor:                 pointer;
    display:                flex;
    font-family:            var(--font-family-ui);
    font-size:              var(--font-size-m);
    height:                 100%;
    justify-content:        center;
    padding:                0 var(--step-gap);
    pointer-events:         none;
    position:               relative;
    text-align:             center;
    top:                    -100%;
    white-space:            nowrap;
    width:                  100%;
    word-break:             keep-all; 
}
