* {
    box-sizing:             border-box;
}

html, body {

    font-family:            var(--font-family-text);
    font-size:              100%;
    line-height:            var(--line-height);
    margin:                 0;
    padding:                0;
}
html {

    background-color:       var(--color-gray-1-12);
    color:                  var(--color-gray-10-12);
}

a {
    color:                  var(--color-blue-9-12);
}
a:hover {

    text-decoration:        none;
}
a:visited {

    color:                  var(--color-orange-5-12);
}

button {

    background:             var(--color-gray-2-12);
    border-radius:          var(--border-radius);
    border:                 0 none transparent;
    color:                  var(--color-orange-5-12);
    cursor:                 pointer;
    font-family:            var(--font-family-ui);
    font-size:              var(--font-size-m);
    margin:                 0;
    min-height:             var(--step-size);
    min-width:              3rem;
    outline:                none;
    padding:                var(--step-gap);
}
button:disabled {

    color:                  var(--color-gray-4-12);
    cursor:                 default;
}
button:focus-visible {

    outline:                none;
}
button:hover {

    color:                  var(--color-orange-6-12);
}

h1, h2, h3, h4, h5, h6, p {

    margin-block:           calc( var(--line-height) / 2 );
}
h2 {

    font-size:              var(--font-size-xl);
    line-height:            calc( 2 * var(--line-height));
}
h3 {

    font-size:              var(--font-size-l);
    line-height:            var(--line-height);
    margin-block:           var(--line-height);
}

ul {

    margin-block:           calc( var(--line-height) / 2 );
    padding-left:           var(--line-height);
}
