:root {
    --pc-1-12:                  calc( 100% * 1 / 12 );
    --pc-2-12:                  calc( 100% * 2 / 12 );
    --pc-3-12:                  calc( 100% * 3 / 12 );
    --pc-4-12:                  calc( 100% * 4 / 12 );
    --pc-5-12:                  calc( 100% * 5 / 12 );
    --pc-6-12:                  calc( 100% * 6 / 12 );
    --pc-7-12:                  calc( 100% * 7 / 12 );
    --pc-8-12:                  calc( 100% * 8 / 12 );
    --pc-9-12:                  calc( 100% * 9 / 12 );
    --pc-10-12:                 calc( 100% * 10 / 12 );
    --pc-11-12:                 calc( 100% * 11 / 12 );
    --pc-1-24:                  calc( 100% * 1 / 24 );
    --pc-1-48:                  calc( 100% * 1 / 48 );
    --pc-23-24:                 calc( 100% * 23 / 24 );
    --pc-47-48:                 calc( 100% * 47 / 48 );

    /* Colors --------------------------------------------------------------- */

    --blue-hue:                 215;
    --blue-sat:                 50%;
    --orange-hue:               35;
    --orange-sat:               100%;
    --red-hue:                  6;
    --red-sat:                  80%;

    --color-gray-1-12:          hsl( 0 0% var(--pc-1-12));
    --color-gray-2-12:          hsl( 0 0% var(--pc-2-12));
    --color-gray-3-12:          hsl( 0 0% var(--pc-3-12));
    --color-gray-4-12:          hsl( 0 0% var(--pc-4-12));
    --color-gray-5-12:          hsl( 0 0% var(--pc-5-12));
    --color-gray-6-12:          hsl( 0 0% var(--pc-6-12));
    --color-gray-7-12:          hsl( 0 0% var(--pc-7-12));
    --color-gray-8-12:          hsl( 0 0% var(--pc-8-12));
    --color-gray-9-12:          hsl( 0 0% var(--pc-9-12));
    --color-gray-10-12:         hsl( 0 0% var(--pc-10-12));
    --color-gray-11-12:         hsl( 0 0% var(--pc-11-12));
    --color-blue-1-12:          hsl( var(--blue-hue) var(--blue-sat) var(--pc-1-12));
    --color-blue-2-12:          hsl( var(--blue-hue) var(--blue-sat) var(--pc-2-12));
    --color-blue-3-12:          hsl( var(--blue-hue) var(--blue-sat) var(--pc-3-12));
    --color-blue-4-12:          hsl( var(--blue-hue) var(--blue-sat) var(--pc-4-12));
    --color-blue-5-12:          hsl( var(--blue-hue) var(--blue-sat) var(--pc-5-12));
    --color-blue-6-12:          hsl( var(--blue-hue) var(--blue-sat) var(--pc-6-12));
    --color-blue-7-12:          hsl( var(--blue-hue) var(--blue-sat) var(--pc-7-12));
    --color-blue-8-12:          hsl( var(--blue-hue) var(--blue-sat) var(--pc-8-12));
    --color-blue-9-12:          hsl( var(--blue-hue) var(--blue-sat) var(--pc-9-12));
    --color-blue-10-12:         hsl( var(--blue-hue) var(--blue-sat) var(--pc-10-12));
    --color-blue-11-12:         hsl( var(--blue-hue) var(--blue-sat) var(--pc-11-12));
    --color-orange-1-12:        hsl( var(--orange-hue) var(--orange-sat) var(--pc-1-12));
    --color-orange-2-12:        hsl( var(--orange-hue) var(--orange-sat) var(--pc-2-12));
    --color-orange-3-12:        hsl( var(--orange-hue) var(--orange-sat) var(--pc-3-12));
    --color-orange-4-12:        hsl( var(--orange-hue) var(--orange-sat) var(--pc-4-12));
    --color-orange-5-12:        hsl( var(--orange-hue) var(--orange-sat) var(--pc-5-12));
    --color-orange-6-12:        hsl( var(--orange-hue) var(--orange-sat) var(--pc-6-12));
    --color-orange-7-12:        hsl( var(--orange-hue) var(--orange-sat) var(--pc-7-12));
    --color-orange-8-12:        hsl( var(--orange-hue) var(--orange-sat) var(--pc-8-12));
    --color-orange-9-12:        hsl( var(--orange-hue) var(--orange-sat) var(--pc-9-12));
    --color-orange-10-12:       hsl( var(--orange-hue) var(--orange-sat) var(--pc-10-12));
    --color-orange-11-12:       hsl( var(--orange-hue) var(--orange-sat) var(--pc-11-12));
    --color-red-1-12:           hsl( var(--red-hue) var(--red-sat) var(--pc-1-12));
    --color-red-2-12:           hsl( var(--red-hue) var(--red-sat) var(--pc-2-12));
    --color-red-3-12:           hsl( var(--red-hue) var(--red-sat) var(--pc-3-12));
    --color-red-4-12:           hsl( var(--red-hue) var(--red-sat) var(--pc-4-12));
    --color-red-5-12:           hsl( var(--red-hue) var(--red-sat) var(--pc-5-12));
    --color-red-6-12:           hsl( var(--red-hue) var(--red-sat) var(--pc-6-12));
    --color-red-7-12:           hsl( var(--red-hue) var(--red-sat) var(--pc-7-12));
    --color-red-8-12:           hsl( var(--red-hue) var(--red-sat) var(--pc-8-12));
    --color-red-9-12:           hsl( var(--red-hue) var(--red-sat) var(--pc-9-12));
    --color-red-10-12:          hsl( var(--red-hue) var(--red-sat) var(--pc-10-12));
    --color-red-11-12:          hsl( var(--red-hue) var(--red-sat) var(--pc-11-12));

    --color-background:         var(--color-gray-1-12);
    --color-error:              var(--color-red-7-12);

    --color-step:               var(--color-gray-2-12);
    --color-step-beat:          var(--color-gray-3-12);
    --color-step-error-beat:    var(--color-red-10-12);
    --color-step-error:         var(--color-red-8-12);
    --color-step-is-active-beat:var(--color-blue-10-12);
    --color-step-is-active:     var(--color-blue-8-12);

    /* Duration ------------------------------------------------------------- */

    --duration-short:           150ms;
    --duration-long:            300ms;

    /* Text ----------------------------------------------------------------- */

    --font-family-text:         system-ui, sans-serif;
    --font-family-ui:           system-ui, sans-serif;

    --font-size-s:              0.8rem;
    --font-size-m:              1rem;
    --font-size-l:              1.27rem;
    --font-size-xl:             1.62rem;
    --font-size-xxl:            2rem;

    --font-size-tap-buttons:    var(--font-size-l);

    --line-height:              calc( 1.5 * var(--font-size-m) );

    /* App ------------------------------------------------------------------ */

    --app-gap:                  24px;
    --app-width:                480px; /* 4 * 80 + 5 * 32 */
    --blur:                     5px;
    --border-radius:            6px;

    --step-gap:                 8px;
    --step-gap-half:            calc( var(--step-gap) / 2 );
    --step-size:                calc(( var(--app-width) - 2 * var(--app-gap) - 7 * var(--step-gap)) / 8 );
    --seq-height:               calc( var(--step-gap) + 2 * var(--step-size));

    /* Z-index -------------------------------------------------------------- */

    --z-index-menu:             2;
    --z-index-modal:            4;
}

@media( max-width: 480px ){
    :root {

        --font-size-tap-buttons:var(--font-size-m);

        --app-gap:              5vw;
        --app-width:            100vw;
        --step-gap:             calc( 100vw / 60 );
    }
}
