.com-results-bar {

    display:                grid;
    gap:                    var(--step-gap);
    grid-template-columns:  repeat( 8, 1fr );
    grid-template-rows:     repeat( 2, 1fr );
    height:                 calc( var(--step-gap) + 2 * var(--step-size));
    list-style:             none;
    margin:                 0;
    padding:                0;
    pointer-events:         none;
}
.com-results-bar.is-reduced-height {

    height:                 calc( var(--step-gap) + 2/2 * var(--step-size));
}
.com-results-bar.rows-1 {

    grid-template-rows:     1fr;
    height:                 var(--step-size);
}
.com-results-bar.rows-3 {

    grid-template-rows:     repeat( 3, 1fr );
    height:                 calc( 2 * var(--step-gap ) + 3 * var(--step-size));
}
.com-results-bar.is-reduced-height.rows-3 {

    height:                 calc( 2 * var(--step-gap ) + 3/2 * var(--step-size));
}
.com-results-bar.rows-4 {

    grid-template-rows:     repeat( 4, 1fr );
    height:                 calc( 3 * var(--step-gap ) + 4 * var(--step-size));
}
.com-results-bar.is-reduced-height.rows-4 {

    height:                 calc( 3 * var(--step-gap ) + 4/2 * var(--step-size));
}
