.com-results {

    display:                flex;
    flex-direction:         column;
    gap:                    var(--app-gap);
    width:                  100%;
}

.com-results > .display {

    align-items:            center;
    color:                  var(--color-blue-11-12);
    display:                flex;
    font-family:            var(--font-family-text);
    font-size:              var(--font-size-m);
    user-select:            text;
    -webkit-user-select:    text;
}
.com-results > .display > .error {

    color:                  var(--color-error);
}
.com-results > .display > .values {

    align-items:            center;
    display:                flex;
    flex-wrap:              wrap;
    gap:                    var(--step-gap);
    height:                 100%;
    justify-content:        space-between;
    width:                  100%;
}
.com-results > .display > .values > dl {

    margin:                 0;
}
.com-results > .display > .values > dl > dt {

    display:                inline;
    font-weight:            bold;
}
.com-results > .display > .values > dl > dd {

    display:                inline;
    margin:                 0;
    padding:                0 0 0 0.5em;
}
.com-results > .display > .values > dl.swing {

    color:                  var(--color-gray-5-12);
}

.com-results > .display.is-waiting,
.com-results > .display.is-waiting > .values > dl.swing {

    color:                  var(--color-step-beat);
}
