.com-results-step {

    background-color:       var(--color-step);
    border-radius:          3px;
    display:                block;
    list-style:             none;
    margin:                 0;
    padding:                0;
    text-align:             center;
}
.com-results-step:nth-child(2n+1) {

    box-shadow:             inset 0 0 0 var(--step-gap-half) rgb( 255, 255, 255, var(--pc-1-12) );
}
.com-results-step.is-active:nth-child(2n+1) {

    box-shadow:             inset 0 0 0 var(--step-gap-half) rgb( 255, 255, 255, var(--pc-4-12) );
}
.com-results-step.is-active {

    background-color:       var(--color-step-is-active);
    box-shadow:             0 0 2px #fff;
    position:               relative;
}
.com-results-step.is-on-beat {

    background-color:       var(--color-step-beat);
}
.com-results-step.is-active.is-on-beat {

    background-color:       var(--color-step-is-active-beat);
}
.com-results-step.has-multiple-taps.is-active {

    background-color:       var(--color-step-error);
}
.com-results-step.has-multiple-taps.is-active.is-on-beat  {

    background-color:       var(--color-step-error-beat);
}

.com-results-step > .time-bar {

    background-color:       #000;
    border-radius:          2px;
    bottom:                 0;
    content:                '';
    display:                block;
    height:                 62%;
    opacity:                0.6;
    position:               absolute;
    top:                    19%;
    width:                  3px;
}
