.com-header {

    align-items:            flex-end;
    display:                flex;
    gap:                    var(--step-gap);
    height:                 var(--step-size);
    justify-content:        flex-end;
    margin-bottom:          var(--app-gap);
    position:               relative;
}

.com-header > .logo {

    height:                 100%;
    margin-right:           auto; /* https://stackoverflow.com/a/35270047 */
}
