.com-header-intro {

    align-items:            flex-end;
    background:             transparent;
    display:                flex;
    justify-content:        center;
    padding:                0;
    width:                  var(--step-size);
}

.com-header-intro > span {

    border-radius:          50%;
    border:                 2px solid var(--color-orange-5-12);
    display:                inline-block;
    font-family:            serif;
    font-size:              var(--font-size-l);
    font-weight:            bold;
    height:                 var(--font-size-xl);
    line-height:            var(--font-size-xl);
    width:                  var(--font-size-xl);
}

.com-header-intro:hover > span {

    border-color:           var(--color-orange-6-12);
}
